.content-media--video {
   background-color: #ddd;
   display: block;
   position: relative;
   padding: 0 0 56.25% 0;
}
.content-media--video iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#featured-video {
  transition: width .2s ease-in-out, height .2s ease-in-out, transform .38s ease-in-out;
}
/** Use .sticky */
#featured-video.is-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 420px;
  max-height: 237px;
  width: 420px;
  height: 237px;
  z-index: 1000;
}

@media only screen and (min-width: 768px) {
   #featured-video.is-sticky {
      /*transform: translateX(-100% + 15px);
      transform-origin: bottom left;
  	  transform: translate(-100%,-100%);
  	  bottom: 0px;
  	  left: calc(0%);
  	  */
      top: 100%;
	  left: 100%;
	  transform: translate(-100%, -100%);
   }
}
/*
@media screen and (min-width: 1000px) {
   #featured-video.is-sticky {
      transform: translateX(-100%);
   }
}
*/
/*Youtube button*/
.content-media {
    width: calc(100% - 30px);
    left: 15px;
    background-color: transparent;
    margin-bottom: 30px;
    position: relative;
    /*padding-top: 56.25%;*/
    overflow: hidden;
    cursor: pointer;
}

.content-media img {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.content-media .play-button {
    width: 70px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    z-index: 1;
    opacity: 0.9;
    border-radius: 35px;
    transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -webkit-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
}

.content-media .play-button:hover {
    background-color: #cc9036;

}

.content-media .play-button:before {
    content: "";
    border-style: solid;
    border-width: 7px 0px 7px 12px;
    border-color: transparent transparent transparent #464444;
    transition: border-color 0.4s ease-out;
    -moz-transition: border-color 0.4s ease-out;
    -webkit-transition: border-color 0.4s ease-out;
    -o-transition: border-color 0.4s ease-out;
}

.content-media .play-button:hover:before {
    border-color: transparent transparent transparent #fff;
}

.content-media img,
.content-media .play-button {
    cursor: pointer;
}

.content-media img,
.content-media iframe,
.content-media .play-button,
.content-media .play-button:before {
    position: absolute;

}

.content-media .play-button,
.content-media .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.content-media iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.content-media img {
    height: 100%;
}



